{% extends "index.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
    <body class="home-background">
        <div class="transbox">
            <h1>Pneumonia detection</h1>
            <p>This application uses medical imaging data and is intended for research or professional use only. <br>It does not provide medical advice or diagnosis and should not replace clinical judgment.<br> Use responsibly within a medical or academic context.<br> No identifiable information from patients will be collected or saved.</p>
        </div>
    </body>
{% endblock %}